# Ignorar TODO por defecto
/*
/*/

# Excepto los archivos de configuracion esenciales
!.gitignore
!bin/
bin/*
!bin/setenv.bat
!conf/
conf/*
!conf/Catalina/
conf/Catalina/*
!conf/Catalina/localhost/
conf/Catalina/localhost/*
!conf/Catalina/localhost/jasperserver.xml
